@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);



body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Roboto', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Roboto', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Droid Serif', serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Droid Serif', serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-author-name {
  font-family: 'Droid Serif', serif;
}
.mbr-author-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-plan-title {
  font-family: 'Droid Serif', serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.bg-primary {
  background-color: #efefef !important;
}
.bg-success {
  background-color: #9f7eae !important;
}
.bg-info {
  background-color: #8bb6cc !important;
}
.bg-warning {
  background-color: #84a7cf !important;
}
.bg-danger {
  background-color: #a18ba4 !important;
}
.btn-primary {
  background-color: #efefef;
  border-color: #efefef;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #c9c9c9;
  border-color: #c9c9c9;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #8bb6cc;
  border-color: #8bb6cc;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #5695b5;
  border-color: #5695b5;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5695b5 !important;
  border-color: #5695b5 !important;
}
.btn-success {
  background-color: #9f7eae;
  border-color: #9f7eae;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #795689;
  border-color: #795689;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #795689 !important;
  border-color: #795689 !important;
}
.btn-warning {
  background-color: #84a7cf;
  border-color: #84a7cf;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #4d80ba;
  border-color: #4d80ba;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #4d80ba !important;
  border-color: #4d80ba !important;
}
.btn-danger {
  background-color: #a18ba4;
  border-color: #a18ba4;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #7c647f;
  border-color: #7c647f;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #7c647f !important;
  border-color: #7c647f !important;
}
.btn-primary-outline {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #efefef;
  border-color: #efefef;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4a88a7;
  color: #4a88a7;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #8bb6cc;
  border-color: #8bb6cc;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #8bb6cc !important;
  border-color: #8bb6cc !important;
}
.btn-success-outline {
  background: none;
  border-color: #6b4c7a;
  color: #6b4c7a;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #9f7eae;
  border-color: #9f7eae;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #9f7eae !important;
  border-color: #9f7eae !important;
}
.btn-warning-outline {
  background: none;
  border-color: #4373aa;
  color: #4373aa;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #84a7cf;
  border-color: #84a7cf;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #84a7cf !important;
  border-color: #84a7cf !important;
}
.btn-danger-outline {
  background: none;
  border-color: #6e5871;
  color: #6e5871;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #a18ba4;
  border-color: #a18ba4;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #a18ba4 !important;
  border-color: #a18ba4 !important;
}
.text-primary {
  color: #efefef !important;
}
.text-success {
  color: #9f7eae !important;
}
.text-info {
  color: #8bb6cc !important;
}
.text-warning {
  color: #84a7cf !important;
}
.text-danger {
  color: #a18ba4 !important;
}
.alert-success {
  background-color: #9f7eae;
}
.alert-info {
  background-color: #8bb6cc;
}
.alert-warning {
  background-color: #84a7cf;
}
.alert-danger {
  background-color: #a18ba4;
}
.btn-social {
  border-color: #efefef;
}
.btn-social:hover {
  background: #efefef;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #efefef;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #efefef;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #efefef;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #efefef;
}
.lead a,
.lead a:hover {
  color: #efefef;
}
.lead blockquote {
  border-color: #efefef;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d9ccdf;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dbd2dc;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #efefef;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Droid Serif', serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Droid Serif', serif;
}
.features6 .feature-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.features6 .feature-title {
  font-family: 'Droid Serif', serif;
}
.features6 .description {
  font-family: 'Roboto', sans-serif;
}
.count,
.counter-title {
  font-family: 'Droid Serif', serif;
}
.counter-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.mbr-iconfont-counters1 {
  color: #efefef;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Droid Serif', serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extHeader5 .container label {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Droid Serif', serif;
}
.extHeader11 .container span {
  font-family: 'Droid Serif', serif;
}
.extHeader11 .container p.element {
  font-family: 'Droid Serif', serif;
}
.extHeader11 .container p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Droid Serif', serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extHeader13 h4 {
  font-family: 'Droid Serif', serif;
}
.extHeader13 .number {
  font-family: 'Droid Serif', serif;
}
.extHeader13 .period {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extHeader13 .dot {
  font-family: 'Droid Serif', serif;
}
.extFeatures .feature-title {
  font-family: 'Droid Serif', serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extFeatures .feature-text {
  font-family: 'Roboto', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Droid Serif', serif;
}
.extFeatures3 .border-wrap {
  border-color: #efefef;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Droid Serif', serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Droid Serif', serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extForm2 .container h3 {
  font-family: 'Droid Serif', serif;
}
.extForm2 .container p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #efefef;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extPricingTable1 .mbr-plan-label {
  background: #efefef;
}
.extCounters2 h4 {
  font-family: 'Droid Serif', serif;
}
.extCounters2 h5 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extCounters3 .count {
  font-family: 'Droid Serif', serif;
}
.extCounters3 .counter-title {
  font-family: 'Droid Serif', serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #efefef;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #efefef;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #efefef;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Droid Serif', serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Droid Serif', serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #efefef;
}
.extAccordion1 .panel-heading a {
  font-family: 'Roboto', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #efefef;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Roboto', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #efefef;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #efefef;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #efefef;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extMsg-box1 .container h3 {
  font-family: 'Droid Serif', serif;
}
.extMsg-box1 .container p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extMsg-box1 h4 {
  font-family: 'Droid Serif', serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Droid Serif', serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Droid Serif', serif;
}
.extMenu1 span.icon a:hover {
  color: #efefef !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #efefef;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #efefef;
}
.theme-border {
  border: 1px solid #efefef;
}
#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
}
#menu-c .link {
  font-size: 0.75rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #000000;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-d .hide-buttons .nav-btn {
  display: none !important;
}
#menu-d .navbar-caption {
  color: #ffffff;
}
#menu-d .navbar-toggler {
  color: #ffffff;
}
#menu-d .close-icon::before,
#menu-d .close-icon::after {
  background-color: #ffffff;
}
#menu-d .link,
#menu-d .dropdown-item {
  color: #ffffff;
}
#menu-d .link {
  font-size: 0.75rem;
}
#menu-d .dropdown-item,
#menu-d .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-d .link:hover,
#menu-d .dropdown-item:hover,
#menu-d .link:focus,
#menu-d .dropdown-item:focus {
  color: #efefef;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-menu {
  background: #000000;
}
#menu-d .nav-dropdown-sm .link:focus,
#menu-d .nav-dropdown-sm .link:hover,
#menu-d .nav-dropdown-sm .dropdown-item:focus,
#menu-d .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-d .navbar,
#menu-d .nav-dropdown-sm,
#menu-d .nav-dropdown-sm .link[aria-expanded="true"],
#menu-d .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-d .bg-color.transparent.opened .link:hover,
#menu-d .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-d .link[aria-expanded="true"],
#menu-d .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#msg-box8-l .mbr-section-title,
#msg-box8-l p {
  color: #fff;
}
#social-buttons3-u .mbr-section-title,
#social-buttons3-u .btn-social {
  color: #fff;
}
#menu-e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-e .navbar-caption {
  color: #ffffff;
}
#menu-e .navbar-toggler {
  color: #ffffff;
}
#menu-e .close-icon::before,
#menu-e .close-icon::after {
  background-color: #ffffff;
}
#menu-e .link,
#menu-e .dropdown-item {
  color: #ffffff;
}
#menu-e .link {
  font-size: 0.75rem;
}
#menu-e .dropdown-item,
#menu-e .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-e .link:hover,
#menu-e .dropdown-item:hover,
#menu-e .link:focus,
#menu-e .dropdown-item:focus {
  color: #efefef;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-menu {
  background: #000000;
}
#menu-e .nav-dropdown-sm .link:focus,
#menu-e .nav-dropdown-sm .link:hover,
#menu-e .nav-dropdown-sm .dropdown-item:focus,
#menu-e .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-e .navbar,
#menu-e .nav-dropdown-sm,
#menu-e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-e .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-e .bg-color.transparent.opened .link:hover,
#menu-e .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-e .link[aria-expanded="true"],
#menu-e .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#msg-box1-11 H3 {
  color: #232323;
}
#menu-1 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1 .navbar-caption {
  color: #ffffff;
}
#menu-1 .navbar-toggler {
  color: #ffffff;
}
#menu-1 .close-icon::before,
#menu-1 .close-icon::after {
  background-color: #ffffff;
}
#menu-1 .link,
#menu-1 .dropdown-item {
  color: #ffffff;
}
#menu-1 .link {
  font-size: 0.75rem;
}
#menu-1 .dropdown-item,
#menu-1 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1 .link:hover,
#menu-1 .dropdown-item:hover,
#menu-1 .link:focus,
#menu-1 .dropdown-item:focus {
  color: #efefef;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-menu {
  background: #000000;
}
#menu-1 .nav-dropdown-sm .link:focus,
#menu-1 .nav-dropdown-sm .link:hover,
#menu-1 .nav-dropdown-sm .dropdown-item:focus,
#menu-1 .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1 .navbar,
#menu-1 .nav-dropdown-sm,
#menu-1 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1 .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1 .bg-color.transparent.opened .link:hover,
#menu-1 .bg-color.transparent.opened .link:focus {
  color: #efefef;
}
#menu-1 .link[aria-expanded="true"],
#menu-1 .dropdown-item[aria-expanded="true"] {
  color: #efefef!important;
}
#menu-1 span {
  font-weight: bold !important;
}
#header1-0 .mbr-section-title {
  color: #ffffff;
}
#header1-0 .mbr-section-lead {
  color: #000000;
}
#header2-b .mbr-section-title {
  text-align: right;
}
